{% extends 'base.html.twig' %}

{% block title %}Edit Course{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    <div class="clearfix">
        {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('course/_delete_form.html.twig') }}
    </div>
    <a href="{{ path('course_index') }}">Back to list</a>

{% endblock %}
