{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}
    <h1>Course index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Points</th>
            <th>Start_date</th>
            <th>End_date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.startDate ? course.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ course.endDate ? course.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('course_show', {'id': course.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_new') }}">Create new</a>
{% endblock %}
