{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <h1>Create new Course</h1>

    {{ include('course/_form.html.twig') }}
    <div class="clearfix"></div>
    <a href="{{ path('course_index') }}">Back to list</a>
{% endblock %}
