{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ course.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ course.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ course.description }}</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ course.points }}</td>
        </tr>
        <tr>
            <th>Start_date</th>
            <td>{{ course.startDate ? course.startDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>End_date</th>
            <td>{{ course.endDate ? course.endDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Average grade</th>
            <td>{{ averageGrade[1] }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('course_edit', {'id': course.id}) }}" class="btn btn-success float-left mr-2">Edit</a>

    {{ include('course/_delete_form.html.twig') }}

    <div class="clearfix"></div>
    <a href="{{ path('course_index') }}">Back to list</a>

    <div id="div_chart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>

{% endblock %}
