<form method="post" action="{{ path('course_user_delete', {'id': course_user.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course_user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
