{% extends 'base.html.twig' %}

{% block title %}Edit CourseUser{% endblock %}

{% block body %}
    <h1>Edit CourseUser</h1>

    {{ include('course_user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('course_user/_delete_form.html.twig') }}

    <a href="{{ path('course_user_index') }}">Back to list</a>

{% endblock %}
