{% extends 'base.html.twig' %}

{% block title %}CourseUser index{% endblock %}

{% block body %}
    <h1>CourseUser index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Course</th>
            <th>Name</th>
            <th>Points</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course_user in course_users %}
            <tr>
                <td>{{ course_user.id }}</td>
                <td>{{ course_user.course('name') }}</td>
                <td>{{ course_user.user('firstName') }}</td>
                <td>{{ course_user.points }}</td>
                <td>
                    <a href="{{ path('course_user_show', {'id': course_user.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('course_user_edit', {'id': course_user.id}) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('course_user_new') }}">Create new</a>
{% endblock %}
