{% extends 'base.html.twig' %}

{% block title %}New CourseUser{% endblock %}

{% block body %}
    <h1>Create new CourseUser</h1>

    {{ include('course_user/_form.html.twig') }}
    <div class="clearfix"></div>
    <a href="{{ path('course_user_index') }}">Back to list</a>
{% endblock %}
