{% extends 'base.html.twig' %}

{% block title %}CourseUser{% endblock %}

{% block body %}
    <h1>CourseUser</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ course_user.user.id }}</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ course_user.points }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('course_user_edit', {'id': course_user.id}) }}" class="btn btn-success float-left mr-2">Edit</a>

    {{ include('course_user/_delete_form.html.twig') }}
    <div class="clearfix"></div>
    <a href="{{ path('course_user_index') }}">back to list</a>

{% endblock %}
