{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Role index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.role }}</td>
                <td>
                    <a href="{{ path('role_show', {'id': role.id}) }}" class="btn btn-info">Show</a>
                    <a href="{{ path('role_edit', {'id': role.id}) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Create new</a>
{% endblock %}
