{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
    <h1>Create new Role</h1>

    {{ include('role/_form.html.twig') }}
    <div class="clearfix"></div>
    <a href="{{ path('role_index') }}">Back to list</a>
{% endblock %}
