{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
    <h1>Role</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ role.id }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ role.role }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('role_edit', {'id': role.id}) }}" class="btn btn-success float-left mr-2">Edit</a>

    {{ include('role/_delete_form.html.twig') }}

    <a href="{{ path('role_index') }}">Back to list</a>

{% endblock %}
