{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}
    <div class="clearfix"></div>
    <a href="{{ path('user_index') }}">Back to list</a>
{% endblock %}
