{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>First_name</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Last_name</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ user.password }}</td>
        </tr>
        <tr>
            <th>Register_date</th>
            <td>{{ user.registerDate ? user.registerDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <th>Date_of_birth</th>
            <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ user.title }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ user.role }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-success float-left mr-2">Edit</a>

    {{ include('user/_delete_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>

{% endblock %}
